@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", "sans-serif";

  --color-primary: #f4f7ff;
  --color-secondary: #ffffff;
  --color-accent: #3752fd;
}

.activity-log__timestamp-card {
  @apply bg-primary text-[#00303C] text-base font-normal tracking-wider p-[10px] rounded-lg mb-7;
}
